<div class="card">
  <div class="card-body">
    <div class="d-flex">
      <span class="flex-grow-1 fw-bold">
        Nome do Cliente
      </span>
      <span>
        <%= order.customer.name %>
      </span>
    </div>
    <div class="d-flex">
      <span class="flex-grow-1 fw-bold">
        Equipamento
      </span>
      <span>
        <%= order.equipament.name %>
      </span>
    </div>
  </div>
</div>
