<!--h6>Novo Pedido</!--h6>
<%# form_with model: @order, local: true do |form| %>
  <div>
    <%#= form.label :produto %>
    <%#= form.text_field :produto %>
  </div>
  <div>
    <%#= form.label :quantidade %>
    <%#= form.number_field :quantidade %>
  </div>
  <div>
    <%#= form.submit "Criar Pedido" %>
  </div-->
<%# end %>
<%= render "toolbar" %>
<%= render "form" %>